@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: rgb(3, 71, 3);
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(211, 16, 16, 0.63); /* horizontal, verdical, espalhamento da sombra */
}

nav a {
    text-decoration:none;
    color: rgb(210, 248, 210);
    font-weight: bold;
    margin-right: 20px;
}

nav a:hover {
    text-decoration: overline;
    color: red;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

#assuntos {
    font-weight: bolder;
}

#noticias {
    background-color: rgba(70, 110, 75, 0.664);
    padding: 5px;
}

aside {
    background-color: lightgrey;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 5px;
}

footer > p {
    margin: 0px;
}