@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0 10vh 30px;
    font-family: cursive;
    font-size: 3.5vw;
    line-height: 2em;
}

section.normal {
    background-color: white;
}

section.imagem {
    background-image: url('imagens/background001.jpg');
}

section.imagem p {
    color: white;
    background-color: rgba(0, 0, 0, 0.397);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
}

footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}